@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<input type="file" id="fileInput"/>
<input type="button" value="UPLOAD" id="uploadBtn"/>

<script type="text/javascript">
    //uploading sample base 
    //var body = new FormData();
    //body.append("company", "GEO/Profile");
    //body.append("image", "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==");
    //var request = new XMLHttpRequest();
    //request.open("POST", "/Upload/UploadBase64");
    //request.send(body);

    //$.ajax({
    //    type: "GET",
    //    url: "/SecurityCodeGenerator/GenerateCode",
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "json",
    //    success: function (response) {
    //        console.log(response);
    //    }
    //});

    //$.ajax({
    //    type: "GET",
    //    url: "/CloudRoomParticipants/GetByUserID?ID=a286d1dc-560b-4c29-bc83-a0d87b89bac2",
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "json",
    //    success: function (response) {
    //        console.log(response);
    //    }
    //});
    //var body = new FormData();
    //body.append("nid", "5b37b81c-c915-4d0c-ba5b-44ff002ee824");
    //body.append("rid", "a286d1dc-560b-4c29-bc83-a0d87b89bac2");
    //body.append("api", "0a8dfd4b-d37a-454a-b66a-409476477ad2");
    //var request = new XMLHttpRequest();
    //request.open("POST", "/NotificationManager/InsertReceipent");
    //request.send(body);



    //$('#fileInput').on('change', function (e) {
    //    var files = e.target.files;
    //    console.log(files);
    //    var data = new FormData();
    //    data.append("path", "TravelBuddy/Profile");
    //    for (var x = 0; x < files.length; x++) {
    //        data.append("file" + x, files[x]);
    //    }
    //    $.ajax({
    //        type: "POST",
    //        url: '/Upload/UploadImage1',
    //        contentType: false,
    //        processData: false,
    //        data: data,
    //        success: function(result) {
    //            console.log(result);
    //        }
    //    });
    //})

    //$('#uploadBtn').click(function () {
    //    console.log($('#fileInput'));
    //    alert("UPLOAD Button");
    //})
</script>


